@import "./global.css";

/* Input Base */
.input-premium {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-subtle);
    border-radius: 0.75rem;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease;
}

.input-premium:focus {
    border-color: var(--accent);
    box-shadow: 0 0 10px var(--accent-glow);
}